.wrapper {
  width: 100%;
}

.container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    padding-right: 40px;
    padding-left: 40px;
    max-width: 720px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    padding-right: 40px;
    padding-left: 40px;
    max-width: 1280px;
  }
}

@media screen and (min-width: 1920px) {
  .container {
    padding-right: 40px;
    padding-left: 40px;
    max-width: 1440px;
  }
}

.page-index-banner-main {
  padding-bottom: 45px;
}

@media screen and (min-width: 1200px) {
  .page-index-banner-main {
    padding-bottom: 70px;
  }
}

.circle-swiper {
  width: 100%;
  overflow: initial;
}

.circle-swiper-wrapper {
  height: 600px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: perspective(50px);
          transform: perspective(50px);
}

@media screen and (max-width: 479px) {
  .circle-swiper-wrapper {
    height: 500px;
  }
}

@media screen and (max-width: 1199px) {
  .circle-swiper-wrapper {
    height: 730px;
  }
}

.circle-swiper-slide {
  width: 100%;
  height: 100%;
  -webkit-transition-duration: inherit;
       -o-transition-duration: inherit;
          transition-duration: inherit;
}

@media screen and (min-width: 1200px) {
  .circle-swiper-slide {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
    -ms-grid-rows: 110px auto 1fr;
        grid-template-rows: 110px auto 1fr;
    grid-gap: 0 24px;
  }
  .circle-swiper-slide .ring-swiper__img {
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.circle-img {
  opacity: 0;
  position: relative;
  -webkit-transform: scale(0.4);
      -ms-transform: scale(0.4);
          transform: scale(0.4);
  -webkit-transition: opacity 0.3s ease 0.1s, -webkit-transform 0.3s;
  transition: opacity 0.3s ease 0.1s, -webkit-transform 0.3s;
  -o-transition: transform 0.3s, opacity 0.3s ease 0.1s;
  transition: transform 0.3s, opacity 0.3s ease 0.1s;
  transition: transform 0.3s, opacity 0.3s ease 0.1s, -webkit-transform 0.3s;
}

.circle-img::before {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.circle-img .scene {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.circle-img .scene .scene-img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.circle-img .scene .scene-img img {
  width: 100%;
}

.circle-img .scene .scene-img.moving {
  margin-top: -100px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

@media screen and (max-width: 1199px) {
  .circle-img::before {
    padding-bottom: 80%;
  }
  .circle-img .scene {
    left: 50%;
    display: block;
    margin: 0 auto;
    width: 75%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media screen and (min-width: 1200px) {
  .circle-img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 6;
    -ms-grid-column-span: 6;
    grid-area: 1/6/4/12;
  }
}

.scene {
  width: 100%;
  height: 100%;
}

.scene .scene-img {
  width: 100%;
  height: 100%;
}

.scene-img {
  position: absolute;
  top: 0;
  left: 0;
}

.scene-img img {
  width: 100%;
}

.circle-swiper-title {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-area: 2/2/3/7;
  margin-bottom: 18px;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 4px;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease 0.1s;
  -o-transition: opacity 0.3s ease 0.1s;
  transition: opacity 0.3s ease 0.1s;
}

.circle-swiper-title .-large {
  font-size: 80px;
  font-weight: 700;
  line-height: 0.8;
  letter-spacing: normal;
}

@media screen and (max-width: 1199px) {
  .circle-swiper-title {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .circle-swiper-title {
    font-size: 28px;
    letter-spacing: 2px;
  }
  .circle-swiper-title .-large {
    font-size: 40px;
  }
}

.circle-swiper-info {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease 0.1s;
  -o-transition: opacity 0.3s ease 0.1s;
  transition: opacity 0.3s ease 0.1s;
}

@media screen and (max-width: 767px) {
  .circle-swiper-info {
    padding-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .circle-swiper-info {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-area: 3/2/4/6;
  }
}

@media screen and (max-width: 1199px) {
  .circle-swiper-info {
    padding-top: 30px;
  }
}

.circle-swiper-info-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 22px;
}

@media screen and (max-width: 767px) {
  .circle-swiper-info-tags {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.circle-swiper-info-tags-item {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 1px;
  padding: 2px 10px;
  font-family: PingFangTC-Regular, zh, Noto Sans TC, sans-serif;
}

.circle-swiper-info-tags-item:first-child {
  color: #fff;
  background-color: #ef5281;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.circle-swiper-info-tags-item:last-child {
  color: #ef5281;
  background-color: #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media screen and (max-width: 767px) {
  .circle-swiper-info-tags-item {
    font-size: 16px;
  }
}

.circle-swiper-info-content {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: 1px;
  margin: 0 auto;
  width: calc(75% + 24px);
}

@media screen and (max-width: 767px) {
  .circle-swiper-info-content {
    font-size: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .circle-swiper-info-content {
    margin-right: 0;
  }
}

.circle-swiper-link {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.swiper-slide-active .circle-img {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: opacity 0.3s ease 0.1s, -webkit-transform 0.3s;
  transition: opacity 0.3s ease 0.1s, -webkit-transform 0.3s;
  -o-transition: transform 0.3s, opacity 0.3s ease 0.1s;
  transition: transform 0.3s, opacity 0.3s ease 0.1s;
  transition: transform 0.3s, opacity 0.3s ease 0.1s, -webkit-transform 0.3s;
}

.swiper-slide-active .circle-swiper-title {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease 0.1s, -webkit-transform 0.3s;
  transition: opacity 0.3s ease 0.1s, -webkit-transform 0.3s;
  -o-transition: transform 0.3s, opacity 0.3s ease 0.1s;
  transition: transform 0.3s, opacity 0.3s ease 0.1s;
  transition: transform 0.3s, opacity 0.3s ease 0.1s, -webkit-transform 0.3s;
}

.swiper-slide-active .circle-swiper-info {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease 0.1s, -webkit-transform 0.3s;
  transition: opacity 0.3s ease 0.1s, -webkit-transform 0.3s;
  -o-transition: transform 0.3s, opacity 0.3s ease 0.1s;
  transition: transform 0.3s, opacity 0.3s ease 0.1s;
  transition: transform 0.3s, opacity 0.3s ease 0.1s, -webkit-transform 0.3s;
}

.swiper-slide-prev .circle-img,
.swiper-slide-next .circle-img {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.circle-swiper-nav-prev,
.circle-swiper-nav-next {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  pointer-events: all;
  z-index: 1;
}

.circle-swiper-nav-prev .ring-swiper__img,
.circle-swiper-nav-next .ring-swiper__img {
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.circle-swiper-nav-prev {
  left: 0;
}

.circle-swiper-nav-next {
  right: 0;
}

.arrow-button {
  width: 48px;
  height: 48px;
  position: relative;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  opacity: 0.7;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  cursor: pointer;
}

.arrow-button img {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.swiper-creative .swiper-slide {
  overflow: initial;
}
/*# sourceMappingURL=slide-banner.css.map */